.page-products {
}

#header {
  padding-top: rem(100px);
  padding-bottom: rem(160px);
  padding-left: rem(16px);
  padding-right: rem(16px);
  decoration: none;
  text-align: center;
  font-family: $font-family;
  letter-spacing: -0.05em;

  @include breakpoint-above-tablet {
    letter-spacing: -0.1em;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include breakpoint-above-desktop-small {
    padding: rem(100px);
    padding-bottom: rem(160px);
  }

  h1 {
    font-weight: $font-weight-bold;
    font-size: rem(36px);
    color: $color-black;
    margin: 0;
    line-height: 1;
    margin-bottom: 0.1em;

    @include breakpoint-above-tablet {
      font-size: rem(60px);
    }
  }

  h2 {
    font-weight: $font-weight-bold;
    font-size: rem(24px);
    color: $color-overlay;
    margin: 0;
    line-height: 1;

    @include breakpoint-above-tablet {
      font-size: rem(36px);
    }
  }
}

.main > div {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: rem(32px);
  row-gap: rem(64px);

  @include breakpoint-above-tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint-above-desktop-small {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product {
  font-family: $font-family;
  .image {
    position: relative;
    .image-overlay {
      height:100%;
      width:100%;
      position: absolute;
      top:0;
      left:0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-overlay;
      opacity: 0;
      @media(hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
      @media(hover: none) {
        &:active {
          opacity: 1;
        }
      }
      #review-btn {
        padding:16px 32px;
        color: $color-black;
        font-weight: $font-weight-bold;
        font: size 18px;
        background-color: $color-white;
        border-radius: 33px;
        border: $color-border;
        cursor: pointer;
      }
    }
    #review-card {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background: $color-overlay;
      display: none;
      justify-content: flex-end;
      align-items: center;
      #review-form {
        width:90%;
        margin: 0 auto;
        .star-ratings {
          direction: rtl;
          display: block;
          text-align: center;
          input[type=checkbox] {
            display: none;
            &:checked {
              ~ {
                label  {
                  color: $color-white;
                }
              }
            }
          }
          label {
            color: #3e3e3e;
            font-size: 32px;
            padding: 0px 8px 10px 0px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            @media(hover: hover) {
              &:hover {
                color: $color-white;
                ~ {
                  label {
                    color: $color-white;
                  }
                }
              }
            }
          }
        }
        .review-content {
          display:none;
          border-radius:8px;
          background-color: $color-white;
          padding:10px;
          margin-top:15px;
          .comment-one {
            border:none;
            resize: none;
            &:focus-visible {
              outline:none;
            }
          }
        }
        #submit-btn {
          margin: 63px auto 32px auto;
          padding:12px 33px;
          color: $color-black;
          font-weight: $font-weight-bold;
          font-size:18px;
          background-color: $color-white;
          border-radius: 33px;
          border: $color-border;
          cursor: pointer;
          &:disabled {
            color: lightgray;
            background-color: #eeeedd;
            padding:12px 33px;
          }
        }
      }
      .spinner {
        font-size:24px;
        position:absolute;
        top: 52%;
        left:47%;
      }
      .check {
        font-size: 24px;
        position: absolute;
        inset: 52% 47%;
      }
      .uncheck {
        font-size:24px;
        position:absolute;
        inset: 52% 47%;
      }
    }
  }
  }
  img {
    max-width: 100%;
    border: 1px $color-border solid;
    border-radius: rem(8px);
    box-shadow: 0 2px 16px $color-border;
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1;
  }
  div {
    display: flex;
    justify-content: space-between;

    div {
      flex-direction: column;
      justify-content: flex-start;
    }

    h3 {
      font-weight: $font-weight-bold;
      color: $color-black;
      font-size: rem(18px);
      letter-spacing: -0.05em;
      margin-bottom: 0;
      line-height: 1.1;
      margin-top: 1.3em;
      margin-bottom: 0.3em;
    }
    p {
      font-weight: normal;
      margin: 0;
      color: $color-black;
      font-size: rem(14px);
    }
    .price {
      font-weight: $font-weight-bold;
      color: $color-black;
      font-size: rem(48px);
      letter-spacing: -0.05em;
      margin-top: rem(16px);
      text-align: right;
      padding-right: 0.05em;
      margin-left: rem(16px);
    }
  }
