footer {
  color: $color-black;
  font-family: $font-family;
  margin-top: rem(100px);
  padding-top: rem(40px);
  padding-bottom: rem(40px);
  box-shadow:
  inset 0 16px 64px $color-border,
  inset 0 2px 8px $color-border;

  @include breakpoint-above-tablet {
    margin-top: rem(160px);
    padding-top: rem(80px);
    padding-bottom: rem(80px);
  }
}

.brand {
  font-weight: $font-weight-bold;
  font-size: rem(32px);
  letter-spacing: -1.5px;
  margin: 0;
  margin-bottom: rem(4px);
  text-align: center;

  @include breakpoint-above-tablet {
    text-align: left;
  }
}

.subline {
  margin: 0;
  font-size: rem(16px);
  font-weight: $font-weight-bold;
  color: $color-overlay;
  letter-spacing: -0.5px;
  text-align: center;

  @include breakpoint-above-tablet {
    text-align: left;
  }
}

footer ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: rem(32px);

  @include breakpoint-above-tablet {
    justify-content: flex-end;
    margin-top: 0;
    align-items: baseline;
  }

  li {
    list-style: none;
        
    & +li {
      margin-left: rem(16px);

      @include breakpoint-above-tablet {
        margin-left: rem(32px);
      }
    }

    a {
      font-weight: $font-weight-bold;
      font-size: rem(20px);
      color: $color-black;
      text-decoration: none;
    }
  }
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include breakpoint-above-tablet {
    flex-direction: row;
  }
}

